body {
    color: #283618;
    font-family: megan;
    overflow-x: hidden;
}

body>h1 {
    width: 100%;
    text-align: center;
    margin: 100px 0 0 0;
    font-family: megan;
}

#centerSection {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}


#centerSection p {
    padding: 0 50px 0 50px;
    margin: 10px 0 20px 0;
    max-width: 1000px;
}

.main {
    width: 100%;
    max-width: 1000px;
    padding: 0 50px 0 50px;
    max-height: 500px;
    object-fit: cover;
}