body {
    color: #283618;
    font-family: megan;
    overflow-x: hidden;
}


body>h1 {
    width: 100%;
    text-align: center;
    margin: 100px 0 0 0;
    font-family: megan;
}

#centerSection {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

#centerSection p {
    max-width: 1000px;
    font-size: 150%;
}

#centerSection > div {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

figcaption {
    font-size: 75%;
}

.image {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
}

.wide {
    width: 100%;
    max-width: 1000px;
}

.narrow {
    width: 100%;
    max-width: 500px;
}

.top10 {
    margin-top: 10px;
}

.btm25 {
    margin-bottom: 25px;
}

.lftrght25 {
    padding: 0 25px 0 25px;
}

figure {
    width: 100%;
}

