body {
    color: #283618;
    font-family: megan;
    overflow-x: hidden;
}

body>h1 {
    width: 100%;
    text-align: center;
    margin: 100px 0 50px 0;
    font-family: megan;
}

.hoverable {
    width: 100vw;

    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    gap: 50px;

    margin-bottom: 50px;

    padding: 0 25px 0 25px;
}

.hoverable > section {
    width: 100%;
    max-width: 350px;
    height: 350px;
    transition: height 500ms;
}

.hoverable > section > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
    transition: filter 500ms
}

.hoverable > section > div {
    position: relative;
    top: -350px;

    opacity: 0;
    max-height: 0;

    transition: opacity 250ms, max-height 500ms;
}

.hoverable > section > div > p {
    padding: 0 25px 0 25px;
    color: white;
}

/*  */

@keyframes in-circle-swoop {
    from {
      clip-path: var(--circle-top-right-out);
    }
    to {
      clip-path: var(--circle-bottom-right-in);
    }
  }
  
  [transition-style="in:custom:circle-swoop"] {
    --transition__duration: 1s;
    animation-name: in-circle-swoop;
  }