/* 

Light Green:
#606C38

Dark Green: 
#283618

Tan: 
#FEFAE0

Deep Tan: 
#DDA15E

Dark Tan: 
#BC6C25

*/

* {
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: creation;
    src: url('/fonts/Creattion Demo.otf');
}

@font-face {
    font-family: code;
    src: url('/fonts/unicode-00xx-square.ttf');
}

@font-face {
    font-family: megan;
    src: url('/fonts/MegandemofontRegular-axGea.otf');
}

.not-selectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


body {
    background-color: #FEFAE0;
    color: #283618
}

#logo {
    position: absolute;
    max-width: 100px;
    left: 20px;
    top: 20px;
}

.desktop {
    color: #283618;
    font-family: megan;

    position: absolute;
    top: 20px;
    right: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 50px;
}

.desktop a:link,
.desktop a:visited {
    color: #283618;
    text-decoration: none;
    font-size: 150%;
}

.mobile > #hamburger {
    height: 50px;

    position: absolute;
    top: 20px;
    right: 20px;

    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.mobile > #hamburger > div {
    width: 35px;
    height: 5px;
    background-color: black;
}

#frame {
    position: fixed;
    background-color: #BC6C25;
    z-index: 2;
    opacity: 0.75;

    width: 100vw;
    height: 100vh;
    top: 0;
    
    display: none;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
    font-size: 250%;

    transition: transform 1s;
}

#frame a {
    font-family: code;
    text-decoration: none;
}

#frame a:link, #frame a:visited {
    color: #FEFAE0;
}

#frame > #exit {
    position: absolute;
    top: 0;
    right: 20px;
    color: #283618;
    font-size: 150%;
    padding: 5px 10px 0 10px;
    font-family: megan;
}

#frame > #exit:active {
    color: white;
}

/*  */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #FEFAE0;
}

::-webkit-scrollbar-thumb {
    background: #DDA15E;
}

::-webkit-scrollbar-thumb:hover {
    background: #BC6C25;
}

/*  */
@media (max-width: 650px) {
    .desktop {
        display: none;
    }
}

@media (width >= 650px) {
    .mobile {
        display: none;
    }
}