.intro {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    padding: 50px;
}

.intro img {
    width: 100%;
    max-width: 450px;
}
